streamlit
pandas
folium
folium.plugins
datashader.utils
holoviews.element.tiles
holoviews
numpy
requests
hvplot.pandas
geopy.distance
sklearn
prophet
keras
re
string
unicodedata
nltk
json 
bs4
turtle
matplotlib
seaborn
streamlit_folium 
plotly
holoviews 
colorcet
pickle